.bg{
    -fx-background-color: #FEFEFE;
    -fx-border-color:  #FEFEFE;
}

.input{
    -fx-background-color: #ECEFF1;
}

.btn{
    -fx-background-color: #FEFEFE;
}

.btn:hover{
    -fx-background-color: #ECEFF1;
}

.table-view{
  -fx-background-color: transparent;
  -fx-border-color: #FEFEFE;
  -fx-border-width: 0 0 0 0;
}

.table-view .column-header{
    -fx-background-color: #ECEFF1;
}

.titled-pane > .title{
    -fx-background-color: -fx-box-border, -fx-inner-border, #ECEFF1;
    -fx-background-insets: 0, 1, 2;
}

.titled-pane > *.content{
    -fx-background-color:
    -fx-box-border,
    linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
 }
